extends ../layout

block append scripts
	:coffeescript
		jQuery.event.props.push 'dataTransfer'
		jQuery ($)->
			$fileList = $ '.fileList'
			$dropzone = $ '.dropzone'
			$hiddenFile = $ '.hiddenFile', $dropzone

			addFiles = ( files ) ->
				for file in files
					fileList = $dropzone.data( 'fileList' ) || {}
					if !fileList[ file.name ]
						fileList[ file.name ] = file
						$li = $ '<li>',
							text: "#{file.name} (#{file.type})"
						$fileList.append $li
						$dropzone.data 'fileList', fileList
					else
						alert "'#{file.name}'' already present!"
				return
			$hiddenFile.on 'change', ( evt )->
				addFiles @files

				return

			$dropzone.on 'click', ( evt ) ->
				evt.stopPropagation()
				$hiddenFile.trigger evt

			$dropzone.on 'drop', ( evt ) ->
				$( @ ).removeClass 'active'

				addFiles evt.dataTransfer.files
				return false
			$dropzone.on 'dragover dragenter', (evt) ->
				evt.dataTransfer.dropEffect = 'copy'
				$( @ ).addClass 'active'
				return false

			$dropzone.on 'dragexit', ->
				$( @ ).removeClass 'active'
				return false
			
			$( '#btnSend' ).click ->
				$form = $ 'form'
				fileList = $dropzone.data( 'fileList' ) || {}
				if $.isEmptyObject( fileList )
					alert 'Selezionare almeno 1 file'
				else
					formData = new FormData $form[ 0 ]
					$.each fileList, ( fileID, file )->
						formData.append fileID, file

					xhr = new XMLHttpRequest()
					xhr.open $form.prop( 'method' ), $form.prop( 'action' ), true
					xhr.setRequestHeader "X-Requested-With", "XMLHttpRequest"
					xhr.onprogress = ( evt ) ->
						console.log 'Progresso: '+parseInt evt.position/evt.total*100
					xhr.onload = ( evt ) ->
						location.href = evt.originalTarget.responseText
						return
					xhr.send formData

				return false
block content
	h1 #{title}
	form(action="/task/#{taskID}/code",method="post",enctype="multipart/form-data")
		label(for="name") Insert code instance name: 
		input#name(name="name",placeholder="Insert name")
		div.dropzone Click or drop files here
			input.hiddenFile(type="file",multiple)
		ul.fileList
		section.actions
			// input#btnAdd(type="button", value="Add file")
			input#btnSend(type="submit", value="Send")