!!! 5
html
	head
		title Volox Node test
		link(rel='stylesheet', href='/stylesheets/style.css')
		:coffeescript
			p=54
			console.log "prova " + p
	body
		header
            img(src="/img/logo.jpg", title="Logo", alt="Logo")
            h1 #{title}
        nav
			ul
				- var items = { "Home": "/", "HTML5": "/html5", "CSS3": "/css3" }
				- each title, url in items
					li: a(href='#{url}', title='#{title}') #{title}
		section.content!=body
		footer Powered by Volox